git:
  submodules: false

language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

install:
  - composer self-update
  - composer install

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover build/logs/clover.xml

matrix:
  allow_failures:
    - php: hhvm

after_script:
  - php vendor/bin/coveralls